{% extends 'layout.html' %}
{% block body %}

<div class="container py-4 mx-auto" style="margin-top: 5rem;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-body" style="background-color: blanchedalmond; text-align: center;">
                <h3 style="color: black;">{{ prediction }}</h3>
            </div>
        </div>
    </div>

    {% if prediction != "Normal" %}
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card card-body" style="background-color: white;">
                <h4 style="color: black; text-align: center;">Disease Details</h4>
                <ul style="list-style-type: none; padding: 0;">
                    <li><strong>Disease:</strong> {{ prediction }}</li>
                    <li><strong>Cause:</strong> {{ cause }}</li>
                    <li><strong>Treatment:</strong> {{ treatment }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row mt-4">
        <div class="col-md-6 mx-auto">
            <div class="card card-body" style="background-color: white;">
                <h4 style="color: green; text-align: center;">Great News!</h4>
                <p style="text-align: center; color: black;">You are healthyy. Keep up the great care!</p>
            </div>
        </div>
    </div>
    {% endif %}
    <img src="{{ url_for('static', filename='output_image.png') }}" alt="Output Image" style="width: 500px; height: auto;">
</div>

{% endblock %}
